h1 {
	text-align: center;	
}
h2 {
	text-align: center;	
}
h3 {
	text-align: center;	
}
p {
	font-family: "Times New Roman", Georgia, Serif;
	text-align: left;
}

.center {
	margin: auto;
	width: 60%;
}