body {
	background-color: #F0F0F5;
}
h1 {
	color: #000099;
	font-family: "Georgia", serif;
	font-size:275%;
	text-align: center;
}
h2 {
	border-style: dashed none none none;
	border-width: 3px;
	border-color: brown;
	font-family: "Georgia", serif;
	font-size:190%;
	text-align: center;	
}
h3 {
	font-family: "Georgia", serif;
	text-align: center;	
}
p {
	font-family: "Times New Roman", Georgia, Serif;
	text-align: left;
	margin: auto;
	width: 95%;
}

p.temp{
	top: 0;
	font-family: "Times New Roman", Georgia, Serif;
	left: 60%;
	position: absolute;
	text-align: left;
}
.center {
	margin: auto;
	text-align: center;
	width: 60%;
}

.comments{
	clear:both;
	list-style:none;
	width: 95%;
	margin:auto;
}

.comment_area{
	width: 95%;
	margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
}

.count_char{
	display: inline;
}

.menu {
	background-color: white;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 24px;
	height: 100%;
	left: -200px;
	position: fixed;
	width: 200px;
	height: 200px;
}

.menu_close{
	color:blue;
	cursor: pointer;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 24px;
	padding-left: 20px;
	padding-top: 10px;
	text-transform: uppercase;
}

.menu_open {
	color: blue;
	cursor: pointer;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 24px;
	margin: auto;
	text-decoration: none;
	text-transform: uppercase;
	width: 95%;
}

.menu_selections{
	list-style: none;
	padding-left: 20px;
}